@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: inline;
}

h1 {
    font-size: 36px;
    color: #FFF5FD;
    letter-spacing: 3px;
}

h2 {
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 80;
}

.jumbotron {
    padding-top: 10px;
    text-align: center;
    padding: 20px;
    background-color: #022E57;
    height: 250px;
    font-family: 'Righteous', arial;
}

.jumbotron p {
    font-size: 20px;
    color: #FFF5FD;
    letter-spacing: 1px;
}

button {
    transition: ease 0.3s;
}

button a {
    text-decoration: none;
}

.btn1 a {
    color: #FF96AD;
    font-family: 'Righteous';
    font-size: 15px;
}

.btn1:hover {
    transform: translate(0, -5px);
    background-color: rgba(0, 0, 0, 0.349);
}

.btn1 {
    width: 80px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 25px;
    border: 3px solid #FF96AD;
    background-color: rgba(255, 255, 255, 0);
}

.input-container {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #FFF5FD;
    width: 70%;
    padding: 20px;
}

.bookTitle {
    display: flex;
    flex-direction: column;
}

.bookTitle input {
    width: 100%;
    border: 3px solid #FF96AD;
    border-radius: 5px;
    height: 30px;
    font-family: 'Montserrat', arial;
    font-size: 15px;
}

.bookCreator {
    display: flex;
    flex-direction: column;
}

.bookCreator input {
    width: 100%;
    border: 3px solid #FF96AD;
    border-radius: 5px;
    font-family: 'Montserrat', arial;
    height: 30px;
}

.bookYear {
    display: flex;
    flex-direction: column;
}

.bookYear input {
    width: 100%;
    border: 3px solid #FF96AD;
    border-radius: 5px;
    font-family: 'Montserrat', arial;
    height: 30px;
}

label {
    text-align: left;
}

label input {
    width: 100%;
    border: 3px solid #FF96AD;
    border-radius: 5px;
    height: 30px;
}

input {
    padding: 10px;
}

h3 {
    font-family: 'Raleway';
    font-weight: 80;
}

.btn2 {
    width: 48%;
    border-radius: 10px;
    background-color: #005A8D;
    color: #FFF5FD;
    border: 1px solid #005A8D;
    font-family: 'Righteous', arial;
    font-size: 15px;
}

.btn2:hover {
    transform: translate(0, -5px);
}

.test {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: stretch;
}

.test input {
    width: 100px;
    margin-top: 10px;
}

.test p {
    width: 100px;
    font-family: 'Montserrat';
    font-size: 13px;
}

#searchButton {
    transition: ease 0.3s;
    font-family: 'Righteous';
}

.button-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container input {
    background-color: #005A8D;
    width: 50%;
    height: 50%;
    transition: ease 0.3s;
}

.button-container input:hover {
    transform: translate(0, -5px);
}

.search-container {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container input {
    font-size: 15px;
    font-family: 'Montserrat', arial;
}

.right-corner-bottom {
    width: 10%;
    margin-top: 30px;
    margin-left: 90%;
}

.hasil {
    background-color: #005A8D;
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hasil h2 {
    color: #FFF5FD;
    font-style: italic;
    font-family: 'Montserrat';
}

.belum-container {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudah-container {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookList {
    background-color: #FFF5FD;
    border: 5px solid #FF96AD;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bookList h3 {
    margin: 0;
    font-size: 25px;
    font-family: 'Montserrat';
    font-style: italic;
    color: #022E57;
}

.bookList p {
    font-size: 12px;
    margin: 5px;
    font-family: 'Montserrat', arial;
    font-style: italic;
    color: #022E57;
}

.ganti {
    margin-top: 10px;
    padding: 5px;
}

.ganti button {
    font-family: 'Righteous';
    color: #FFF5FD;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #005A8D;
    padding: 5px;
    margin: 2px;
}

.btn3 {
    background-color: #005A8D;
}

.btn3:hover {
    transform: translate(0, -5px);
}

.btn4 {
    background-color: #005A8D;
}

.btn4:hover {
    transform: translate(0, -5px);
}

.btn5 {
    background-color: #005A8D;
}

.btn5:hover {
    transform: translate(0, -5px);
}

.custom {
    background-color: rgb(207, 140, 140);
    background-color: rgba(63, 63, 63, 0.712);
    position: fixed;
    z-index: 1;
    padding: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.customDialog {
    text-align: center;
    background-color: #FFF5FD;
    border: 2px solid #022E57;
    border-radius: 10px;
    padding-bottom: 10px;
}

.uppercard {
    background-color: #FF96AD;
    height: 100px;
    border-radius: 9px 9px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #022E57;
}

.uppercard h2 {
    margin-top: 10px;
    font-family: 'Righteous', Arial;
}

.customDialog p {
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 80;
}

.customDialog .btn2 {
    border-radius: 5px;
    height: 30px;
    width: 30%;
}

@media screen and (max-device-width: 513px) {
    h1 {
        font-size: 60px;
    }

    h3 {
        text-align: center;
        font-size: 30px;
    }

    .jumbotron {
        height: 400px;
    }

    .jumbotron p {
        font-size: 30px;
    }

    .btn1 {
        width: 20%;
        height: 20%;
    }

    label input {
        height: 50px;
    }

    .bookTitle input {
        font-size: 20px;
    }

    .bookCreator input {
        font-size: 20px;
    }

    .search-container input {
        font-size: 20px;
    }

    .bookYear input {
        font-size: 20px;
    }

    h2 {
        font-size: 35px;
    }

    .btn2 {
        font-size: 25px;
    }

    .right-corner-bottom {
        width: 20%;
        margin-left: 80%;
    }

    .btn1 a {
        font-size: 30px;
    }

    .bookList h3 {
        font-size: 30px;
    }

    .bookList p {
        font-size: 25px;
    }

    .custom {
        padding-top: 600px;
    }

    .customDialog {
        width: 80%;
        height: 400px;
        margin-top: 30px;
    }

    .dialogContainer {
        margin-top: -200px;
    }

    .customDialog h2 {
        font-size: 30px;
    }

    .customDialog p {
        font-size: 40px;
        margin-top: 60px;
    }

    .customDialog .btn2 {
        margin-top: 20px;
        height: 45px;
        border-radius: 15px;
    }
}